# Виртуальное окружение (чтобы не заливать тысячи системных файлов Python)
.venv/
venv/
ENV/

# Папка настроек PyCharm
.idea/

# Временный кэш Python (появляется при запуске скриптов)
__pycache__/
*.py[cod]
*$py.class

# Системные файлы ОС
.DS_Store
Thumbs.db